* {
  box-sizing: border-box;
}
{
    margin:0;padding:0;
}

    /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/**for desktop**/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}



@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  /**  border: 1px solid red;**/
}


* {
  border-radius: 0 !important;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      overflow: hidden;
}
html,body,.nav-peach-side
{
    height: 100%;
}


a {
  background-color: transparent;
}

body {
margin: 0;
  font-family: Karla;
}


#wrapper {
  width:100%;
  height: 100%;

}

/**peach brand for navbar**/
.peach_brand {
  display: inline-block;
  position:relative;
  width: 170px;
  float:left;
  margin: -17px;
  padding:15px;
  margin-bottom: -20px;
}

/**navbar**/
.nav-peach-main{
  background: #753F6E;
  padding: 15px;
}

.nav-peach-main li a{
  color: white;
  /**padding-top: 20px;
  padding: 14px 16px;**/
  text-decoration: none;
  display: inline-block;
  padding: 13px 12px 10px 10px;
}

.nav-peach-main li {
display: inline;
}

.nav-peach-main ul {
list-style-type: none;
margin:0px;
padding: 0px;
overflow: hidden;
background-color: #753F6E;
}

.nav-peach-main li a:hover{
padding-top: 1px;
background-color: #EFF0F0;
border-radius: 1px;
color: black;
}

.navbar1{
  float:right;
}

.navbar{
  margin-bottom: 0;
}

.nav-peach-main button.navbar-toggle{
  border-color: white;
}

.nav-peach-main button.navbar-toggle.collapsed{
  border-color: white;
}
.navbar-collapse:after, .navbar-collapse:before,{
  display:table;
  content:" ";
}
.navbar-toggle {
  position:relative;
  float:right;
  padding:9px 10px;
  margin-top:15px;
  margin-right:15px;
  margin-bottom:8px;
  background-color:transparent;
  border:1px solid transparent;
 border-radius:4px;
}


/**headings**/


h1 {
  font-size: 2.5rem;
  padding-top: 0px;
  border-top: 0px;
  margin-top: -20px;
  color: black;
  text-align: center;
  padding:10px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/**ChatBox**/
.w3-card {

  border: 1px solid black;
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 30px;
  height: 250px;
  border: 2px solid #753F6E;
  overflow-y: scroll;
}

.w3-container{
  margin-left: 20px;
  margin-right:20px;
}
/**user input textbox**/
.textbox{

  margin-right:20px;
}

input[type=text] {

  border: 2px solid #753F6E;
  padding: 1px;
}

/**textbox send button**/
input[type=button]{
  display: inline-block;
padding: .375rem 1rem;
font-size: 1rem;
font-weight: normal;
line-height: 1.5;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
border-radius: .25rem;
background-color:  #753F6E;
color: white;
}

/**glyph icons bold, italic**/
.show-glyph{
  margin-left: 20px;
}

.bold {
  font-weight: bold; }

#boldtrigger{
  height:10px;
}
#italictrigger{
  height:10px;
}

/**Login section**/
.fieldset{
  padding-bottom: 5px;
}

.legend{
  margin-bottom: 3px;
}

.column
{
    float: left;
    width: 25%;
}
/**Search Page**/
#searchGrid{
  margin: 0 auto;
  text-align: center;
}

/**ehna intial survey**/
.ehna box {
  overflow-y: scroll;
}
