{%extends "/chat_main.html" %}
{%block welcomepg%}

{%endblock%}
{%block chatBoxcontent%}
<div class="w3-card">

  <div class="w3-container">
<h4>About the ChatBot Web Application</h4>
<br>
<p>
<li>This Summer, June-September 2016, Students from MSc Computer Science and MSc Software Systems Engineering have worked on their final
  theses projects under the supervision of Dr Navin Ramachandran, coordinated by Dr Dean Mohamedally.</li>
<li>The context of the ChatBot project has arisen as part of an NHS Open Source project, Project PEACH, supported by Microsoft UK and in direct collaboration
  with UCLH.</li>
<li>The goal of Project PEACH (Platform for Enhanced Analytics and Computational Healthcare) is to create better or new technological adaptations
  for the NHS.</li>
<li>We hope the ChatBot application will continue to be built upon, and improved, and eventually deployed by Macmillan for the benefit of patients
  and medical staff country-wide.</li>

</div>
</div>

<div class="logo-container">
<a class="ucl-link" href="https://www.ucl.ac.uk/"><img class="ucl-logo" id="ucl-logo" src="{{ url_for('static', filename = 'ucl-logo.jpg') }}"  width="160" height="100"></a>
<a class="ucl-link" href="https://www.uclh.nhs.uk/Pages/Home.aspx"><img class="uclh-logo" id="uclh-logo" src="{{ url_for('static', filename = 'uclhlogo.png') }}"  width="200" height="80"></a>
<a class="ucl-link" href="https://www.microsoft.com/en-gb/"><img class="mic-logo" id="mic-logo" src="{{ url_for('static', filename = 'microsoft.png') }}"  width="180" height="80"></a>
</div>
{%endblock%}
{%block textbox%}
{%endblock%}
