{%extends "/chat_main.html" %}
{%block chatBoxcontent%}
<br>
<h3> Terms and Conditions etc</h3>
{%endblock%}
{%block textbox%}
<div class="container-fluid">
<form id="myform">
  <legend><h4>Please enter your Login information below to continue with your eHNA</h4></legend>
    <div class="column">
  PIN Number:<br>
  <input type "submit" text="pinNumber" name="pinNumber" id="pinNumber" required><br>
</div>
<div class="column">
  Date of Birth:<br>
  <select name="day" class="1-31" id="day"  required></select>
  <select name="month" id="month"  required>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <select name="year" class="2000-1920" id ="year" required></select>
</div>
</form>
<div class ="column">
  <br>

    <input type="submit" id=consentbtn value="I consent to the Terms and Conditions above and wish to continue with my eHNA."/></a>
  </div>
</div>

<!--validate pin and dob against azure sql db-->
<script>
$(function() {
    $('#consentbtn').click(function() {
      d = document.forms[0].day.value;
      m = document.forms[0].month.value;
      y = document.forms[0].year.value;
      //console.log(dob);
      var dob =  (y + - + m + - + d);
      var pin = document.getElementById('pinNumber').value;
      if(isNaN(pin) || pin.length < 6 || pin.length > 6){
        alert("You must enter a valid pin in order to proceed with the eHNA.");
 }else{

        $.ajax({
            url: '/signIn',
            data: $('#myform').serialize(),
            //datatype: 'json',
            type: 'POST',
           success: function(response) {
             if(response == 'None'){
               alert("Error. Your login details have not been found.")
             }else{
                //<a href="/ehna">
                window.location.replace("/ehna");}
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
      }
    });
});
</script>

<script>
//extract elements for dob from individual drop-down boxes
var d;
var m;
var y;

function getDate(){
  d = document.forms[0].day.value;
  m = document.forms[0].month.value;
  y = document.forms[0].year.value;
  var dob =  (y + - + m + - + d);
    console.log(dob);

}

</script>

<script>$(function(){
    var $select = $(".1-31");
    for (i=1;i<=31;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
}); </script>

<script>$(function(){
    var $select = $(".2000-1920");
    for (i=2000;i>=1920;i--){
        $select.append($('<option></option>').val(i).html(i))
    }
}); </script>

{%endblock%}
