<!--<nav =class "nav-peach-main"><!collection of links that have something to do with site navigation
these are grouped in unordered list with each item in a list element
forms the basis of any sites navigation
    <ul>
    <li><a href="chat_index.htm" title="Home">Home</a></li>
    <li><a href="about.htm" title ="About">About</a></li>
    <li><a href="contact.htm" title="Contact">Contact</a></li>
    <li><a href="chatbothelp.htm" title="ChatBot Help">ChatBot Help</a></li>
    </ul>
-->

<!--</nav>
<nav><!collection of links that have something to do with site navigation
these are grouped in unordered list with each item in a list element
forms the basis of any sites navigation-
    <ul>
    <li><a href="chat_index.htm" title="Welcome">Welcome</a></li>
    <li><a href="consent.htm" title ="Consent">Consent</a></li>
    <li><a href="yourehna.htm" title="Your eHNA">Your eHNA</a></li>
    <li><a href="results.htm" title="Results">Results</a></li>
    <li><a href="recommendation.htm" title="Recommendation Engine">Recommendation Engine</a></li>
    </ul>
</nav> -->

  <h2>Trail Reviews</h2>
<p><a href="all_trails.htm">All Trails</a> > <a href="#">Ojai</a></p>
</header>
<article><!--stand alone content here, can be viewed on its own-->
<header>
  <h3>Northridge Loop</h3>
<p>posted on Jan 17th</p>
</header>
<h4>Skill Level</h4>
<section> <!--thematic area eg. comments -->
  <header><!--introductary section to comments section can go in header-->
    <h3>Comments</h3>
  <p> To leave a comment you must <a href="join.htm" title="Join our crew">
    register</a> or <a href="login.htm" title="sign in">sign in</a>
  </p>
</header>
<article><!--using article for individual comments as they can each stand alone within comments area but are nested within it-->
    <h4> Max Smith wrote this on 4th August etc</h4>
  <p>Great review......</p>
</article>
</section>
</article>
</main>
<section>
<h2>Rider Reviews</h2>
<article>
<header>
<h3>Los Robles Trail</h3>
<p> by Danny</p>
<p>submitted today</p>
</header>
<figure>
<figcaption>Trail Map</figcaption>
<img src="_images/trail_map.jpg" alt="Northridge Trail Map" title="Northridge Trail Map">
</figure>
</article>
</section>
<aside><!--conent relates to siblings but not part of it-->
<h3>Need a rental?</h3>
</aside>

<footer><!--disclaimer and content info goes here. can have multiple footer - ie. about the author section --></footer>
<p><a href="#mainHeader">return to top</a></p>
<p><a href="tel://866-555-4313" title="give us a call">T:865.555.4310</a></p>
<p>all content &copy; copyright 2014 Cycle Tracks | please read our <a href="#">terms of use</a></p>
<p>Cycle Tracks</p>
<p>5605 Nota Street<br>
Ventura, CA 93003</p>
<p>666.666.6666<br></p>







<nav class="navbar nav-peach-side">
   <div class="container-fluid">
     <div class="sidebar">

         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>

     </div>
     <div id="navbar3" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">




       </div><!--/.container-fluid -->
      </nav>
