<!doctype html>   <!--declare this is a html document -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
<html lang="en">  <!--optional tag but good idea to let user know what lang -->
 <head>
     <meta charset="utf-8">  <!--character set encoding prior to any content -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
     <title>ChatBot eHNA</title>
     <!--[if lt IE 9]><script src="http://html5.shim.googlecode.com/svn/trunk/html5.js"> //opening script tag pointing tells browser to create elements
</script><![endif]-->  <!--only affects internet explorer old version so within conditional clause -->
 </head>
<body>

<!--add list of content in order of how you want them-->

<header>
  <h1> This will be the assessment page</h1>
</header>
</body>
</html>
