{%extends "/chat_main.html" %}
{%block mainheading%}
{%endblock%}
{%block welcomepg%}

{%endblock%}
{%block chatBoxcontent%}
<span id="step1">Step 1/3: Consent</span>
<h4> Terms and Conditions</h4>
<p>This assessment will ask you to provide some information about yourself. It will also ask you some questions about your needs, feelings and health.</br>
<b>Information Storage</b></br>
The information you provide along with other details about your treatment and care will be used by your hospital to develop a care plan for you</br>
and to provide clinician services, care and support. </br>
<b>Who has access to your information?</b></br>
This assessment tool is operated on behalf of your hospital by Macmillan Cancer Support and its service providers. </br>
Your information will not be shared with anyone else without your agreement. </br>
Without identifying you personally we may use your information for service development, evaluation and research purposes.</br>
<li>
<b>Please note the PIN you have been sent is for ONE TIME SUBMIT USE only</b>.</li>
<li><b>Once you have submitted your PIN will no longer be active.</b> </li>
<li><b>The eHNA will time-out after 30 minutes of inactivity and you will be able to log back in.</b></li>
<b>Don't want to continue?</b> Please be assured your treatment will not be affected if you choose not to continue. </br>
Other options are available which your GP or nurse will be able to tell you about.
</p>
{%endblock%}
{%block textbox%}
<div class="container-fluid">
<form id="myform">
  <legend><h4>Please enter your Login information below to continue with your eHNA.</h4></legend>
  <div class="card" id="pin1">
  <!--  <div class="column">-->
  PIN Number:<br>
  <input type "submit" text="pinNumber" name="pinNumber" id="pinNumber" required><br>
</div>
<!--<div class="column">-->
  <div class="card" id="dob1">
  Date of Birth:<br>
  <select name="day" class="1-31" id="day"  required></select>
  <select name="month" id="month"  required>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <select name="year" class="2000-1920" id ="year" required></select>
</div>
</form>
<!--<div class ="column">-->
  <div class="card" id="submit1">
  <br>

    <input type="submit" id="consentbtn" value="I consent to the Terms and Conditions above and wish to continue with my eHNA."</a>
  </div>
</div>

<!--validate pin and dob against azure sql db-->
<script>
$(function() {
    $('#consentbtn').click(function() {
      d = document.forms[0].day.value;
      m = document.forms[0].month.value;
      y = document.forms[0].year.value;
      //console.log(dob);
      var dob =  (y + - + m + - + d);
      var pin = document.getElementById('pinNumber').value;
      if(isNaN(pin) || pin.length < 6 || pin.length > 6){
        Alert.render("You must enter a valid pin in order to proceed with the eHNA.");
 }else{

        $.ajax({
            url: '/signIn',
            data: $('#myform').serialize(),
            //datatype: 'json',
            type: 'POST',
           success: function(response) {
             if(response == 'None'){
               alert("Error. Your login details have not been found.")
             }else{
                //<a href="/ehna">
                window.location.replace("/ehna");}
                console.log(response);
            },
            error: function(jqXHR, textStatus, errorThrown){
            console.log(errorThrown);
            }
        });
      }
    });
});
</script>

<script>
//extract elements for dob from individual drop-down boxes
var d;
var m;
var y;

function getDate(){
  d = document.forms[0].day.value;
  m = document.forms[0].month.value;
  y = document.forms[0].year.value;
  var dob =  (y + - + m + - + d);
    //console.log(dob);

}

</script>

<script>$(function(){
    var $select = $(".1-31");
    for (i=1;i<=31;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
}); </script>

<script>$(function(){
    var $select = $(".2000-1920");
    for (i=2000;i>=1920;i--){
        $select.append($('<option></option>').val(i).html(i))
    }
});

var Alert = new CustomAlert();</script>

{%endblock%}
