{%extends "/chat_main.html" %}
{%block welcomepg%}

{%endblock%}
{%block chatBoxcontent%}
<div class="w3-card">

  <div class="w3-container">

<h4>Contact Us</h4>
<br>
<p>Please be in touch with us if you have any questions, queries or comments about Project PEACH or the ChatBot Application.
<br> We would be delighted to hear from you.
<br><br>
<b>UCL Computer Science Department</b><br>
<b>Address:</b> Engineering Building, Malet Place, Malet Pl, London WC1E 7JE<br>
<b>Phone:</b> 020 7679 7214<br>
<b>Email:</b> ucl.cs@ucl.ac.uk<br>
</div>
</div>
{%endblock%}
{%block textbox%}
{%endblock%}
