{%extends "/chat_main.html" %}
{%block welcomepg%}
{%endblock%}
{%block mainheading%}
{%endblock%}
{%block chatBoxcontent%}
<span id="step1">Step 2/3: Rate your Concerns</span>
<p></p>
<p> For this first part of the assessment select and rate the severity of any of the following that have caused you concern recently. </br>
<p style= "color:red">Please ensure you scroll down to see all the options, and press 'submit' when you are finished.
</p>
<div class="ccard">

  <div class="ccontainer">



<div id = "ehna box">

<!--<div fluid-container>-->

<table id ="t">
  <colgroup id="concernsCol">
    <col span="2" style="width:33%">
  </colgroup>
    <tr>
    <th>Physical 1 </th>
    <th>Physical 2 </th>
  <tr>
    <td>
    <input class ="check" type="checkbox" name="respiratory">Breathing Difficulties <select id='s1'>
       <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select> </td>
    <td><input class ="check" type="checkbox" name="mouth">Sore or Dry Mouth<select id='s7'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td>
        </tr>

<tr>
<td><input class ="check" type="checkbox" name="urinary">Passing Urine<select id='s2'>
                <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select></td>
    <td><input class ="check" type="checkbox" name="nausea-vomit">Nausea or vomiting<select id='s8'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td>
      </tr>
  <tr>
  <td><input class ="check" type="checkbox" name="constipation">Constipation<select id='s3'>
                  <option value="">N.A.</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
      </select></td>
      <td><input class ="check" type="checkbox" name="sleeping">Sleep problems/Nightmares<select id='s9'>
                      <option value="">N.A.</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
          </select></td>
    </tr>
    <tr><td><input class ="check" type="checkbox" name="diarrhoea">Diarrhoea<select id='s4'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
       </select></td>
       <td><input class ="check" type="checkbox" name="fatigue">Tired/exhausted or fatigued<select id='s10'>
                       <option value="">N.A.</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
          </select></td>
         </tr>
      <tr><td><input class ="check" type="checkbox" name="eating">Eating or Appetite<select id='s5'>
                      <option value="">N.A.</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
          </select></td>
          <td><input class ="check" type="checkbox" name="swelling">Swollen tummy or limb<select id='s11'>
                          <option value="">N.A.</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
              </select></td>
            </tr>
          <tr><td><input class ="check" type="checkbox" name="indigestion">Indigestion<select id='s6'>
                          <option value="">N.A.</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
              </select></td>
              <td><input class ="check" type="checkbox" name="fever">High temperature or fever<select id='s12'>
                              <option value="">N.A.</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                  </select></td>
            </tr>
            <tr><td><br/></td></tr>
<tr>
  <th>Physical 3 </th>
  <th>Physical 4 </th>
</tr>
</tr>
<td><input class ="check" type="checkbox" name="walking">Getting around/walking<select id='s18'>
                <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select></td>
    <td><input class ="check" type="checkbox" name="weight">Changes in weight<select id='s24'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td>
</tr><tr>
<td><input class ="check" type="checkbox" name="tingling">Tingling in hands/feet<select id='s19'>
                <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select></td>
    <td><input class ="check" type="checkbox" name="memory-concentration">Memory or concentration<select id='s25'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td></tr>
        <tr><td><input class ="check" type="checkbox" name="pain">Pain<select id='s15'>
                        <option value="">N.A.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
            </select></td>
            <td><input class ="check" type="checkbox" name="sensory">Taste/Sight/Hearing<select id='s21'>
                            <option value="">N.A.</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                </select></td></tr>
                <tr><td><input class ="check" type="checkbox" name="hot-flushes">Hot flushes/sweating<select id='s16'>
                                <option value="">N.A.</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                   </select></td>
                   <td><input class ="check" type="checkbox" name="speaking">Speech problems<select id='s22'>
                                   <option value="">N.A.</option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                   <option value="5">5</option>
                                   <option value="6">6</option>
                                   <option value="7">7</option>
                                   <option value="8">8</option>
                                   <option value="9">9</option>
                                   <option value="10">10</option>
                      </select></td></tr>
                      <tr>  <td><input class ="check" type="checkbox" name="skin">Dry, itchy or sore skin<select id='s17'>
                                        <option value="">N.A.</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                            </select></td>
                            <td><input class ="check" type="checkbox" name="appearance">My appearance<select id='s23'>
                                            <option value="">N.A.</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                </select></td></tr>
                                <tr>      <td><input class ="check" type="checkbox" name="wound-care">Wound care after surgery<select id='s18'>
                                                      <option value="">N.A.</option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                      <option value="6">6</option>
                                                      <option value="7">7</option>
                                                      <option value="8">8</option>
                                                      <option value="9">9</option>
                                                      <option value="10">10</option>
                                          </select></td>
                                          <td><input class ="check" type="checkbox" name="sexuality">Sexuality<select id='s24'>
                                                          <option value="">N.A.</option>
                                                          <option value="1">1</option>
                                                          <option value="2">2</option>
                                                          <option value="3">3</option>
                                                          <option value="4">4</option>
                                                          <option value="5">5</option>
                                                          <option value="6">6</option>
                                                          <option value="7">7</option>
                                                          <option value="8">8</option>
                                                          <option value="9">9</option>
                                                          <option value="10">10</option>
                                              </select></td></tr>
    <tr><td><br/></td></tr>
  <tr>
    <th>Practical 1 </th>
    <th>Emotional 1 </th>
  <tr>
    <td>
    <input class ="check" type="checkbox" name="caring-responsibilities">Caring Responsibilities <select id='s25'>
       <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select> </td>
    <td><input class ="check" type="checkbox" name="planning">Difficulty making plans<select id='s37'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td></tr>

<tr>
<td><input class ="check" type="checkbox" name="work-education">Work and Education<select id='s26'>
                <option value="">N.A.</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
    </select></td>
    <td><input class ="check" type="checkbox" name="interests-activities">
      Loss of interest/activities<select id='s38'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td></tr>

  <tr>
  <td><input class ="check" type="checkbox" name="finance-housing">Money or housing<select id='s27'>
                  <option value="">N.A.</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
      </select></td>
      <td><input class ="check" type="checkbox" name="expressing-feelings">Unable to express feelings <select id='s39'>
                        <option value="">N.A.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
            </select></td></tr>

    <tr>
    <td><input class ="check" type="checkbox" name="travel">Insurance and travel<select id='s28'>
                    <option value="">N.A.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
        </select></td>
        <td><input class ="check" type="checkbox" name="anger-frustration">
          Anger or frustration<select id='s40'>
                          <option value="">N.A.</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
              </select></td></tr>
        <tr>
        <td><input class ="check" type="checkbox" name="transport">Transport or parking<select id='s29'>
                        <option value="">N.A.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
            </select></td>
            <td><input class ="check" type="checkbox" name="guilt">
            Guilt<select id='s41'>
                              <option value="">N.A.</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                  </select></td></tr>
            <tr>
            <td><input class ="check" type="checkbox" name="communication-NHS">
              Contact/communication wth NHS Staff<select id='s30'>
                            <option value="">N.A.</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                </select></td>
                <td><input class ="check" type="checkbox" name="hopelessness">
                  Hopelessness<select id='s41'>
                                  <option value="">N.A.</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                      </select></td></tr>

    <tr><td><br/></td></tr>

                          <th>Practical 2 </th>

                      <th>Emotional 2 </th>

                    </tr>

                    <tr>  <td><input class ="check" type="checkbox" name="chores">Housework or Shopping<select id='s31'>
                                      <option value="">N.A.</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                          </select></td>

                        <td><input class ="check" type="checkbox" name="loneliness">Loneliness or isolation<select id='s43'>
                                        <option value="">N.A.</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                            </select></td>
                            </tr>
                            <tr>
                              <td><input class ="check" type="checkbox" name="washing-dressing">Washing and Dressing<select id='s32'>
                                              <option value="">N.A.</option>
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                              <option value="6">6</option>
                                              <option value="7">7</option>
                                              <option value="8">8</option>
                                              <option value="9">9</option>
                                              <option value="10">10</option>
                                  </select></td>
                                  <td><input class ="check" type="checkbox" name="depression">
                                    Sadness or depression<select id='s44'>
                                                  <option value="">N.A.</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>
                                      </select></td></tr>
                                      <tr>
                                      <td><input class ="check" type="checkbox" name="preparing-meal">Preparing meals/drinks<select id='s33'>
                                                      <option value="">N.A.</option>
                                                      <option value="1">1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                      <option value="5">5</option>
                                                      <option value="6">6</option>
                                                      <option value="7">7</option>
                                                      <option value="8">8</option>
                                                      <option value="9">9</option>
                                                      <option value="10">10</option>
                                          </select></td>
                                          <td><input class ="check" type="checkbox" name="worry-fear-anxiety">Worry, fear or anxiety <select id='s45'>
                                                            <option value="">N.A.</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                </select></td>
                                    </tr>

    <tr><td><br/></td></tr>
                                      <tr>
                                            <th>Family Concerns</th>
                                            <th> Spiritual or Religious Concerns</th></tr>
                                            <tr>
                                              <td><input class ="check" type="checkbox" name="partner">Partners<select id='s34'>
                                                              <option value="">N.A.</option>
                                                              <option value="1">1</option>
                                                              <option value="2">2</option>
                                                              <option value="3">3</option>
                                                              <option value="4">4</option>
                                                              <option value="5">5</option>
                                                              <option value="6">6</option>
                                                              <option value="7">7</option>
                                                              <option value="8">8</option>
                                                              <option value="9">9</option>
                                                              <option value="10">10</option>
                                                  </select></td>
                                                  <td><input class ="check" type="checkbox" name="faith">
                                                    Loss of faith or other spiritual concerns<select id='s46'>
                                                                  <option value="">N.A.</option>
                                                                  <option value="1">1</option>
                                                                  <option value="2">2</option>
                                                                  <option value="3">3</option>
                                                                  <option value="4">4</option>
                                                                  <option value="5">5</option>
                                                                  <option value="6">6</option>
                                                                  <option value="7">7</option>
                                                                  <option value="8">8</option>
                                                                  <option value="9">9</option>
                                                                  <option value="10">10</option>
                                                      </select></td></tr>
                                                      <tr>  <td><input class ="check" type="checkbox" name="children">Children<select id='s35'>
                                                                        <option value="">N.A.</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                            </select></td>  <td><input class ="check" type="checkbox" name="meaning">Loss of meaning or purpose of life <select id='s47'>
                                                                              <option value="">N.A.</option>
                                                                              <option value="1">1</option>
                                                                              <option value="2">2</option>
                                                                              <option value="3">3</option>
                                                                              <option value="4">4</option>
                                                                              <option value="5">5</option>
                                                                              <option value="6">6</option>
                                                                              <option value="7">7</option>
                                                                              <option value="8">8</option>
                                                                              <option value="9">9</option>
                                                                              <option value="10">10</option>
                                                                  </select></td></tr>
                                                                  <tr>  <td><input class ="check" type="checkbox" name="relative-friend">Other relatives/friends<select id='s36'>
                                                                                    <option value="">N.A.</option>
                                                                                    <option value="1">1</option>
                                                                                    <option value="2">2</option>
                                                                                    <option value="3">3</option>
                                                                                    <option value="4">4</option>
                                                                                    <option value="5">5</option>
                                                                                    <option value="6">6</option>
                                                                                    <option value="7">7</option>
                                                                                    <option value="8">8</option>
                                                                                    <option value="9">9</option>
                                                                                    <option value="10">10</option>
                                                                        </select></td>
                                                                        <td><input class ="check" type="checkbox" name="regret">
                                                                          Not being at peace with or feeling regret about the past<select id='s48'>
                                                                                        <option value="">N.A.</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="3">3</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                                                        <option value="6">6</option>
                                                                                        <option value="7">7</option>
                                                                                        <option value="8">8</option>
                                                                                        <option value="9">9</option>
                                                                                        <option value="10">10</option>
                                                                            </select></td></tr>


</table>
</div>
<br>
<input type="button" id="submitConcerns"  value="Submit">
</div>
</div>

<!--onClick="window.location.href='/msgChat'"-->
<!--makes array of concern and rating-->
<script>



$(document).ready(function () {

    $('#submitConcerns').click(function () {
        var arr = [];
        $("#t td").each(function () {
            $this = $(this)
            var $checkbox = $this.find("input:checkbox")
            var $select = $this.find("select[id^=s]");

            if ($checkbox.is(':checked')){
              arr.push({
                name: $checkbox.attr('name'),
                value: parseInt($select.val(),10)
            });

        }

    });
    var arrText =  "";
    for(var i = 0 ; i < arr.length ; i++) {
      arrText += arr[i].name + " " + arr[i].value + ", ";

    var json_arr = JSON.stringify(arr);
    //var data_to_send = $.serialize(arr);

    }
//    alert(arrText);
//var alert = "You have selected: ".concat(arrText);
//    if ( arrText = ""){
  //alert("You have not selected any concerns. Please select and rate your concerns to continue.");}
  //else {alert(alert)}
  //else {alert("You have selected: " + arrText + ". Please confirm your selection before preceding to the next page.");}

        $.ajax({
         url:'/api/chatBot',
         data: arr,//json_arr,//{arr:arr}, //JSON.stringify(json),
         type:'POST',
         dataType: 'script',
         contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      //  contentType: 'application/json',
         success: function(welcome) {
        // alert(welcome);
        //   var welcome = 'Bot: Try it out: type hi';
        window.location.href='/msgChat';
        if(window.location.href='/msgChat'){
        jQuery('#user_input').append(welcome);
        console.log(welcome)
      } else {
        console.log('not worked');
      }
      //  console.log('done');
        },
        error: function(jqXHR, textStatus, errorThrown){
        console.log(errorThrown);
        }
    });
  });
});
</script>



{%endblock%}
{%block textbox%}
{%endblock%}
