{%extends "/chat_main.html" %}
{%block searchGrid%}
<div id="searchGrid">
<h3>Use this page to search for resources.</h3>
<p>For example try searching for keywords like 'smoking','support groups', 'finance' etc <br>
  Your results will appear in the results box below.</p>
 <form>
   <form action="textbox">
     <input type="text" id="searchBox" class=textbox placeholder="Search Here">
     <input type="button" id ="submitbtn" value="Search">
   </form>
 </form>
</div>
<br>
<br>
{%endblock%}
{%block chatBoxcontent%}
{%endblock%}
{%block textbox%}
{%endblock%}
