{%extends "/chat_main.html" %}
{%block mainheading%}
{%endblock%}
{%block welcomepg%}
{%endblock%}
{%block searchGrid%}



<div id="searchGrid">
<h3 style=>Search for resources</h3>
<p>Tip: Try searching for keywords like 'smoking', 'finance' etc <br>
  Your results will appear in the results box below.</p>

     <input type="text" id="searchBox" class=textbox placeholder="Search Here">
     <button onclick="SearchFunction()" type="button" id ="searchIcon"> <img src="{{ url_for('static', filename = 'searchIcon.png') }}"  width="30" height="30"></button>
     <button type="button" id ="clear" function onclick="clearSearch()">CLEAR</button>
</div>
<br>
<br>
{%endblock%}
{%block chatBoxcontent%}
<div class="search-card">

  <div id="search-container">
    <p id="search_input"></p>
</div>
</div>
{%endblock%}
{%block textbox%}
{%endblock%}
